.container {
  display: block;
  margin: 0;
  width: 100%;
  max-width: 70rem;
  text-align: center;
}

.products {
  width: 80%;
  margin: 2rem auto;
}

.products ul {
  margin: 0;
  padding: 0;
}

.categoryName {
  text-align: left;
}

@media screen and (min-width: 795px) {
}
