.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60rem;
  margin: 2rem auto;
}

.products {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.products ul {
  margin: 0;
  padding: 0;
}

.categoryName {
  text-align: left;
}

@media screen and (min-width: 795px) {
}
