.itemContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* justify-content: space-around;
  align-items: center; */
  background-color: #fefae0;
  width: auto;
  margin: 10px 20px;
}

.summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  margin-left: 20px;
}

.amount {
  display: flex;
  justify-content: center;
}

@media (max-width: 795px) {
  .name {
    font-size: 1rem;
    margin-left: 10px;
  }

  .summary {
    font-size: 0.8rem;
  }
}
