.itemContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* justify-content: space-around;
  align-items: center; */
  background-color: rgb(226, 238, 200);
  width: auto;
  margin: 10px 20px;
}

.summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.amount {
  display: flex;
  justify-content: center;
}
